body {
    background-image: url(../assets/background.png);
}

.default_text_style {
    font-size: large;
    font-family: 'IBM Plex Sans', sans-serif;
}

.noscript-message-title {
    margin: 5px 30px 15px 0;

    font-family: 'Nunito', sans-serif;
    text-decoration: underline;
    text-align: right;
}

.noscript-message-text {
    margin: 15px 0 0 0;

    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}

.noscript-box {
    position: relative;

    width: 350px;
    height: 120px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;

    background: #d8edf1;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(27, 27, 27, 0.322);

}

.form-parent {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.board_creation_form {
    width: 500px;
    height: 170px;
    padding: 32px;
    border-radius: 10px;

    box-shadow: 0 4px 16px #ccc;
    letter-spacing: 1px;
}

.form_button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

    letter-spacing: 1px;
    color: #fff;
    background-color: #0071f0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.form_button:focus,
.form_button:hover {
    background-color: rgba(0, 113, 240, 0.7);
}

.input-text {
    position: relative;
    float: left;

    width: 500px;
    margin: 5px 0 20px;
    padding: 12px 20px;
    box-sizing: border-box;
}

.input-text:invalid {
    box-shadow: 0 0 5px 1px red;
}

.input-text:focus:invalid {
    box-shadow: none;
}
