@import '../../styles/scss/Constants.scss';
@import '../../styles/scss/Common.scss';

.board-setting-popup {
    background-color: $primary-bg-color;
    padding: 20px;
    border: 2px solid $tertiary-bg-color;
    border-radius: 16px;
    width: 35%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 10px 10px $default-box-shadow-color;
    min-width: 300px;
}
