@import "Font-awesome.min";
@import "Fonts.scss";
@import "Popups.scss";
@import "Refuse.scss";
@import "Reset.scss";
@import 'Constants';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(45deg, $primary-bg-color, $secondary-bg-color);
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
