@import 'Constants';

$login__min-width: 320px;
$login__max-width: 600px;

$login__min-height: 500px;
$login__max-height: 800px;

/* Таблица стилей для страницы регистрации */
/* Таблица стилей для страницы регистрации */

/* внешняя обертка под контейнер регистрации */
.register__wrapper {
    min-width: $login__min-width;
    max-width: $login__max-width;

    min-height: $login__min-height;

    position: absolute;
    transform: translate(-50%,-25%);

    padding-top: 16em;
    left: 50%;
}

/* контейнер регистрации */
.register__container {
    min-width: $login__min-width;
    max-width: $login__max-width;

    min-height: $login__min-height;

    background: $transparent-bg-color;
    padding: 2em;
    margin: 4em 0;

    border-radius: 24px;
    border-left: 1px solid $transparent-bg-color;
    border-top: 1px solid $transparent-bg-color;
    box-shadow: 24px 24px 40px -8px $default-box-shadow-color;

    text-align: center;
    transition: all 0.3s ease-in-out;
}

/* заголовки во всей регистрации */
.register__caption{
    text-align: center;
}

/* текст во всем регистрации */
.register__text {
    text-align: center;
    font-size: 18px;
}

/* внешняя обертка под поля регистрации */
.register__input__wrapper {
    position: relative;
    margin: 2.4em 0 1.5em 1.5em;
}

/* заголовок поля регистрации  */
.register__input__caption {
    position: absolute;

    left: 4%;
    top: 10px;

    color: $input-color;

    font-size: 15px;
    font-weight: 300;

    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

/* само поле регистрации */
.register__input__input {
    display: block;
    outline: none;
    border: none;

    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgb(209, 209, 209);

    width: 100%;

    color: $input__input-color;

    font-size: 15px;
}

/* в случае активации поля ввода заголовок съезжает наверх */
.register__input__input:focus ~ .register__input__caption,
.register__input__input:not(:placeholder-shown) ~ .register__input__caption {
    top: -20px;
    font-size: 13px;
    color: rgb(174, 82, 82);
}

/* в случае валидного ввода перекрашиваем заголовок */
.register__input__input:valid ~ .register__input__caption,
.register__input__input:valid:not(:placeholder-shown) ~ .register__input__caption {
    color: rgb(79, 194, 79);
}

/* полоса, подчеркивающая поле ввода */
.register__input__bar {
    position: relative;
    display: block;
}

/* удлинняем полосу при активном поле ввода */
.register__input__input:focus ~ .register__input__bar:before,
.register__input__input:focus ~ .register__input__bar:after {
    width: 100%;
}

/* удлинняем полосу под полем ввода */
.register__input__bar:after {
    position: absolute;
    content: "";

    height: 2px;
    bottom: -1px;
    left: 0;
    width: 0;
    right: -50%;

    background: $main-theme-color;

    transition: all 0.3s ease-in-out;
}

/* кнопка регистрации */
.register__button {
    padding: 16px 24px;

    color: rgb(255, 255, 255);
    background-color: $main-theme-color;

    border: none;
    outline: none;
    border-radius: 5px;

    letter-spacing: 1px;
    font-size: 16px;

    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

/* в случае активизации кнопки регистрации */
.register__button:focus,
.register__button:hover {
    background-color: $main-theme-color__focus;
}

/* секция обработки ошибок */

/* контейнер для ошибок */
.register__input__error {
    margin: 8px 0;
    padding: 1em 2em;

    border-radius: 16px;

    color: $error-color;
    background-color: $error-bg-color;

    transition: all 0.3s ease-in-out;
}

/* иконка ошибки */
.register__input__error__fa {
    margin: 8px 8px;
    padding: 8px;

    font-size: 2em;
    vertical-align: middle;

    transition: all 0.3s ease-in-out;
}

/* сообщение о входе */
.register__login-message {
    position: relative;

    margin-top: 2em;
    padding: 2em;
    height: 8em;

    background-color: $light-white-color;

    border-radius: 16px;
    border-left: 1px solid $transparent-bg-color;
    border-top: 1px solid $transparent-bg-color;
    box-shadow: 24px 24px 40px -8px $default-box-shadow-color;

    text-align: center;

    transition: all 0.3s ease-in-out;
}

/* ссылка */
.register__link {
    color: $main-theme-color__focus;
}
