{{{Navbar}}}

<div class="notfound__wrapper">
    <p class="notfound__main-text"> Страница не найдена! ;] </p><br/>
    <a class="notfound__second-text" href="/"> На главную </a>
</div>

{{{OfflineMessage}}}

{{{Footer}}}
