<link rel="stylesheet" href="/src/views/NotFoundView/NotFoundView.css">
<!-- TODO сделать полноценную страницу -->

{{{Navbar}}}

<div>
<p> Страница не найдена! ;] </p>
<br/> <a href="/"> На главную </a>
</div>

{{{Footer}}}
