* {
    box-sizing: border-box;

    /* TODO вынести в нормальное место */
    --primary-bg-color: rgb(207, 241, 249);
    --secondary-bg-color: rgb(231, 246, 254);

    --main-theme-color: rgb(37, 128, 133);
    --main-theme-color__focus: rgb(77, 156, 245);

    --transparent-bg-color: rgba(255, 255, 255, 0.3);
    --default-box-shadow-color: rgba(0,0,0,0.2);

    --error-color: rgb(216, 0, 12);
    --error-bg-color: rgb(255, 210, 210);

    --light-white-color: rgb(241, 241, 241);
    --input-color: rgb(210, 210, 210);

    --input__input-color: rgb(144, 144, 144);

}

body {
    margin: 0;

    background: linear-gradient(45deg, var(--primary-bg-color), var(--secondary-bg-color));

    height: 100%;

    font-family: 'Montserrat', sans-serif;

    --profile__min-width: 320px;
    --profile__max-width: 600px;

    --login__min-height: 500px;
    --login__max-height: 800px;
}
  
/* profile box style */

.wrapper {
    min-width: var(--profile__min-width);
    max-width: var(--profile__max-width);

    position: absolute;
    transform: translate(-50%,-25%);

    padding-top: 16em;
    left: 50%;
}

.profile-box {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
    width: 100vw;
    height: max-content;
    max-width: 600px;
    background: var(--transparent-bg-color);
    padding: 2em;
    border-radius: 24px;
    border-left: 1px solid var(--transparent-bg-color);
    border-top: 1px solid var(--transparent-bg-color);
    box-shadow: 24px 24px 40px -8px var(--default-box-shadow-color);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

  
.profile-box__column-left {
    display: grid;
    padding: 15px;
    justify-content: center;
}
  
.profile-box__column-right {
    display: grid;
    padding: 15px;
    justify-content: center;
}
  
.profile-box__container {
    display: flex;
    flex-direction: column;
}

.profile-box__button:focus,
.profile-box__button:hover {
    background-color: var(--main-theme-color__focus);
}
  
.profile-box__user-picture {
    width: 150px;
    height: 150px;
}
  
.profile-box__user-avatar {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
  
.profile-box__upload-icon-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgb(255, 255, 255);
}
  
.profile-box__upload-button-text {
    line-height: 1;
    margin-top: 1px;
}
  
.profile-box__upload-button {
    width: 90%;
    max-width: 290px;
    height: 60px;
    position: relative;
    left: 5%;
    background: var(--main-theme-color);
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;
}

.profile-box__upload-button:hover {
    background: var(--main-theme-color__focus);
    transition: all 0.3s ease-in-out;
}

/* заголовки во всей регистрации */
.profile__caption{
    text-align: center;
}

/* текст во всем регистрации */
.profile__text {
    text-align: center;
    font-size: 18px;
}

/* внешняя обертка под поля регистрации */
.profile__input__wrapper {
    position: relative;
    margin: 2.4em 0 1.5em 1.5em;
}

/* заголовок поля регистрации  */
.profile__input__caption {
    position: absolute;

    left: 4%;
    top: 10px;

    color: var(--input-color);

    font-size: 15px;
    font-weight: 300;

    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

/* само поле регистрации */
.profile__input__input {
    display: block;
    outline: none;
    border: none;

    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgb(209, 209, 209);

    width: 100%;

    color: var(--input__input-color);

    font-size: 15px;
}

/* в случае активации поля ввода заголовок съезжает наверх */
.profile__input__input:focus ~ .profile__input__caption,
.profile__input__input:not(:placeholder-shown) ~ .profile__input__caption {
    top: -20px;
    font-size: 13px;
    color: rgb(174, 82, 82);
}

/* в случае валидного ввода перекрашиваем заголовок */
.profile__input__input:valid ~ .profile__input__caption,
.profile__input__input:valid:not(:placeholder-shown) ~ .profile__input__caption {
    color: rgb(79, 194, 79);
}

/* полоса, подчеркивающая поле ввода */
.profile__input__bar {
    position: relative;
    display: block;
}

/* удлинняем полосу при активном поле ввода */
.profile__input__input:focus ~ .profile__input__bar:before,
.profile__input__input:focus ~ .profile__input__bar:after {
    width: 100%;
}

/* удлинняем полосу под полем ввода */
.profile__input__bar:after {
    position: absolute;
    content: "";
    
    height: 2px;
    bottom: -1px;
    left: 0;
    width: 0;
    right: -50%;

    background: var(--main-theme-color);

    transition: all 0.3s ease-in-out;
}

/* кнопка регистрации */
.profile-box__button {
    padding: 16px 24px;

    color: rgb(255, 255, 255);
    background-color: var(--main-theme-color);

    border: none;
    outline: none;
    border-radius: 5px;

    letter-spacing: 1px;
    font-size: 16px;
    
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

/* в случае активизации кнопки регистрации */
.profile-box__button:focus,
.profile-box__button:hover {
    background-color: var(--main-theme-color__focus);
}

/* секция обработки ошибок */

/* контейнер для ошибок */
.profile__input__error {
    margin: 8px 0;
    padding: 1em 2em;

    border-radius: 16px;

    color: var(--error-color);
    background-color: var(--error-bg-color);

    transition: all 0.3s ease-in-out;
}

/* иконка ошибки */
.profile__input__error__fa {
    margin: 8px 8px;
    padding: 8px;

    font-size: 2em;
    vertical-align: middle;

    transition: all 0.3s ease-in-out;
}
