@import '../../styles/scss/Constants';

.profile-box {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
    width: 100vw;
    height: max-content;
    max-width: 600px;
    background: $transparent-bg-color;
    padding: 2em;
    border-radius: 24px;
    border-left: 1px solid $transparent-bg-color;
    border-top: 1px solid $transparent-bg-color;
    box-shadow: 24px 24px 40px -8px $default-box-shadow-color;
    text-align: center;
    transition: all 0.3s ease-in-out;


    &__column-left {
        display: grid;
        padding: 15px;
        justify-content: center;
    }

    &__column-right {
        display: grid;
        padding: 15px;
        justify-content: center;
    }


    &__user-picture {
        width: 150px;
        height: 150px;
    }

    &__user-avatar {
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }

    &__upload-icon-wrapper {
        height: 60px;
        width: 60px;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid rgb(255, 255, 255);
    }

    &__upload-button-text {
        line-height: 1;
        margin-top: 1px;
    }

    &__upload-button {
        width: 90%;
        max-width: 290px;
        height: 60px;
        position: relative;
        left: 5%;
        background: $main-theme-color;
        color: rgb(255, 255, 255);
        font-size: 0.75rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 3px;
        cursor: pointer;
        margin-top: 5px;
    }

    &__upload-button:hover {
        background: $main-theme-color__focus;
        transition: all 0.3s ease-in-out;
    }
}
