@import '../../styles/scss/Constants';

$profile_avatar_width: 200px;


.profile-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 45px;

    width: 95vw;
    height: max-content;
    max-width: 650px;
    background: $transparent-bg-color;
    padding: 10px 0 10px 0;
    border-radius: 24px;
    border-left: 1px solid $transparent-bg-color;
    border-top: 1px solid $transparent-bg-color;
    box-shadow: 24px 24px 40px -8px $default-box-shadow-color;
    text-align: center;
    transition: all 0.3s ease-in-out;

    &__column-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    &__column-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 300px
    }

    &__user-picture {
        width: $profile_avatar_width;
        height: $profile_avatar_width;
        object-fit: cover;
        border-radius: $common-radius;
        background-color: $secondary-bg-color;
        border: 4px solid $tertiary-bg-color;
    }

    #avatarId {
        display: none;  // Для сокрытия стадартного приглашения выбора файла
    }

    &__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 5px;
        width: $profile_avatar_width;
        padding: 16px 24px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &__save-btn {
    }
}
