body {
    margin: 0;
    background: linear-gradient(45deg, var(--primary-bg-color), var(--secondary-bg-color));

    height: 100vh;

    font-family: 'Montserrat', sans-serif;

    --login__min-width: 320px;
    --login__max-width: 600px;
}

.board__wrapper {
    position: absolute;
    transform: translate(-50%,-25%);

    padding-top: 72px;
    left: 50%;
}
