@import '../../styles/scss/Reset';
@import '../../styles/scss/Constants';
@import '../../styles/scss/Fonts';
@import '../../styles/scss/Card';
@import '../../styles/scss/CardPopup';
@import '../../styles/scss/CardListPopup';
@import '../../styles/scss/CardList';

$max-height-politic: min-content;

.navbar__wrapper {
  width: 100%;
  z-index: 5;
  background-color: #258085;
  border-bottom: 1px solid #C3C3C3;
  user-select: none;
}

.navbar {
  z-index: inherit;
  height: 56px;
  //max-width: 1680px;
  position: relative;
  background-color: #258085;

  //margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(45deg, $primary-bg-color, $secondary-bg-color);
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

.board-page__wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100vh;
}

.board {
  flex-grow: 1;
  max-height: $max-height-politic;
  //max-height: 100%;
  //flex-basis: 100%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;

  &-header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* Для адаптивности*/
    flex-wrap: wrap;
    row-gap: 5px;
    align-content: space-around;

    background: $primary-bg-color;
    box-shadow: 0 0 2px $main-theme-color;

    &__members {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }

    &__name {
      text-align: center;
      font-size: 18px;
    }
  }
}

/* Стили списков карточек: */
.columns {
  //background: darkred;
  flex-grow: 1;
  max-height: $max-height-politic;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.column {
  background: forestgreen;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  //gap: 5px;
  max-height: $max-height-politic;
  background: $primary-bg-color;
  box-shadow: 0 0 2px $main-theme-color;

  &__header {
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    align-items: center;
    padding: 0 10px;
  }

  &__title {
    font-size: 20px;
    margin-right: auto;

  }

  a:empty {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
    &:focus,
    &:hover {
      box-shadow: 0 0 2px $main-theme-color;
    }
  }

  &__delete {
    &::before {
      content: 'delete';
    }
  }

  &__edit {
    &::before {
      content: 'edit';
    }
  }

  &__add {
    &::before {
      content: 'add';
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    max-height: 75vh;
    padding: 10px;
  }
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    border-radius: 20px;
    background: $transparent-bg-color;        /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $main-theme-color;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid $secondary-bg-color;  /* creates padding around scroll thumb */
  }
}




