{{#with tags-list-popup}}
    {{# if visible }}
        <div class="popup-wrapper" id="tagListPopUpWrapperId">
            <div class="popup-content popup-content_tag-list">
                <div class="popup-form">
                    <div class="popup-form__header">Теги</div>
                    <div class="horizontal-line"></div>
                    <div class="popup-form__elements-wrapper">
                        <div class="tags-list">
                            {{#each tags}}
                                <div class="tags-list__tag-wrapper" data-id="{{this.tgid}}">
                                    <div class="tags-list__tag tag-colors__{{this.color.color_name}}
                                                tags-list__tag_clickable">
                                        <div class="tags-list__tag-name">{{this.tag_name}}</div>
                                        {{#if ../toggle_mode}}
                                        {{#if this.selected}}
                                            <div class="material-icon-check"></div>
                                        {{/if}}
                                        {{/if}}
                                    </div>
                                    <div class="tags-list__edit-btn">
                                        <div class="material-icon-edit"></div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        {{#if errors}}
                            <div class="error">{{errors}}</div>
                        {{/if}}
                        <button class="button" id="showTagPopUpBtnId">Добавить тег</button>

                    </div>
                </div>
                <div class="close-button" id="tagListPopUpCloseId"></div>
            </div>
        </div>
    {{/if}}
{{/with}}
