@import '../../styles/scss/Constants';
@import '../../styles/scss/Fonts';
@import '../../styles/scss/Common';

$card-description-font-size: 12px;
$card-header-font-size: 17px;
$team-font-size: 25px;

.bord-card {
    height: 95px;
    width: 200px;

    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    border-radius: 5px;
    background: linear-gradient(to bottom, $tertiary-bg-color, 90%, $main-theme-color);
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.01, 1.01);
        background: linear-gradient(to bottom, $tertiary-bg-color, 60%, $main-theme-color);
        box-shadow: 0 0 20px $default-box-shadow-color;
    }

    &__header {
        padding-bottom: 1px;
        font-size: $card-header-font-size;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: dotted 1px;
    }

    &__description {
        height: 75%;
        padding-top: 3px;
        font-size: $card-description-font-size;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.main-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: $footer-size;
}

.teams-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.team {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    &__card-wrapper {
        display: flex;
        flex-direction: row;
        padding-top: 5px;
    }

    &__card-holder {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding: 4px 5px;
        flex-wrap: wrap;
    }

    &__team-name {
        font-size: $team-font-size;
    }
}

.material-icons-colored {
    position: relative;
    top: 5px;

    font-size: 20px;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $main-theme-color__focus;
        cursor: pointer;
    }

    &_disabled {
        opacity: 0.3;

        &:hover {
            color: black;
        }
    }
}

.material-icons_transparent {
    opacity: 0.2;

    &:hover {
        opacity: 1;
    }
}

.team__member-counter {
    font-size: $small-font-size;
}

.boards-header {
    visibility: hidden;
}
