{{{Navbar}}}

<div class="notfound__wrapper">
    <p class="notfound__main-text"> Вы находитесь offline, эта страница не доступна.<br/> Проверьте ваше соединение и обновите страницу ;] </p><br/>
    <a class="notfound__second-text" href="/"> На главную </a>
</div>

{{{Footer}}}
