<link rel="stylesheet" href="/src/styles/CardList.css">

<div class="column">
    <div class="column__header">
        <div class="column__title">{{title}}</div>
        <a class="column__add material-icons" id="addCardList"></a>
        <a class="column__edit material-icons" id="editCardList"></a>
        <a class="column__delete material-icons" id="deleteCardList"></a>
    </div>
    <div class="horizontal-line"></div>
    <div class="column__content custom-scroll">
        {{#each _cards}}
            {{{this}}}
        {{/each}}
    </div>
</div>
