<link rel="stylesheet" href="./js/pages/register/register.css">

<header id="header-main"></header>

<form id="register">
    <div class="container">
        <h1>Регистрация</h1>
            <p>Пожалуйста, заполните эту форму,</br>чтобы зарегистрироваться.</p>

            <label for="login"><b>Логин</b></label>
            <input type="text" placeholder="Введите логин" name="login" required>

            <label for="email"><b>Почта</b></label>
            <input type="email" placeholder="Введите почту" name="email" required>

            <label for="psw"><b>Пароль</b></label>
            <input type="password" placeholder="Введите пароль" name="psw" required>

            <label for="psw-repeat"><b>Подтверждение пароля</b></label>
            <input type="password" placeholder="Повторите пароль" name="psw-repeat" required>

            <p>Создавая учетную запись, вы соглашаетесь с нашими </br><a href="#">Условиями пользования и </br>Политикой конфиденциальности</a>.</p>
            <button type="submit" class="registerbtn" id="register-button">Создать аккаунт</button>
    </div>

    <div class="container signin">
        <p>Уже есть аккаунт? <a href="/login">Войти в систему</a>.</p>
    </div>
</form>
