.overlay {
    z-index: 5;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    padding: 10% 0;
}

.popup {
    z-index: 10;
    position: absolute;
    background: #ffffff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
