@import '../../styles/scss/Constants';
@import '../../styles/scss/Fonts';
@import '../../styles/scss/Common';

$card-max-height: 500px;
$card-min-height: 100px;
$card-width: 250px;
$card-due-date-overrun: coral;
$card-due-date-done: forestgreen;

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: $card-width;
  text-decoration: none;
  color: inherit;
  padding: 7px;
  background: $primary-bg-color;
  border-radius: 10px;

  box-shadow: 0 0 4px 2px $dark-box-shadow;

  &:hover {
    transition: all 0.3s ease-in-out;
    background: $tertiary-bg-color;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Due-date */
.badge-due-date-wrapper {
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding-right: 5px;
  background: $secondary-bg-color;
}

.badge-due-date__icon::before {
  content: 'query_builder';
}

.badge-due-date__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: normal;
  color: rgb(255, 255, 255);
  padding-top: 3px;
    
  &__invalid {
    background-color: rgb(235, 90, 70);
  }

  &__valid {
    background-color: rgb(97, 189, 79);
  }

  &__completed {
    background-color: rgb(107, 148, 99);
  }
}

.badge-due-date-wrapper_overdue {
  background: $card-due-date-overrun;
}

.badge-due-date-wrapper_done {
  background: $card-due-date-done;
}

/* Остальные badges: */
.badge-description::before {
  content: 'segment';
}

.badge-attachments::before {
  content: 'attach_file';
}

.badge-checklist::before {
  content: 'checklist';
}

.card__badges {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 2px;
  margin-top: 5px;
}

/* Assignees: */
.card__assignees {
  margin-left: auto; // Выравнивание аватарок по левому краю
  display: flex;
  flex-direction: row;
  align-self: start;
  gap: 3px;
}

.card__tags-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex-wrap: wrap;
}
