<link rel="stylesheet" href="/src/components/Card/CardPopup.css">

<div class="popup">
    <p>{{title}}</p>
    <p>{{description}}</p>
    <p>{{deadline}}</p>
    <p><a id="back">go back</a></p>
</div>
