@import '../../styles/scss/Constants';
@import '../../styles/scss/Fonts';
@import '../../styles/scss/Common';

.navbar__wrapper {
    background-color: $main-theme-color;
    border-bottom: 1px solid #C3C3C3;
    user-select: none;
    padding-bottom: 1px;
}

.navbar {
    min-height: $nav-bar-height;
    max-width: 1680px;
    position: relative;
    background-color: $main-theme-color;

    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__logo {
        height: $nav-bar-height;
        width: 136px;
    }

    &__links {
        font-size: 18px;
        height: auto;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }

    &__link-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        min-height: $nav-bar-height;

        &:hover {
            background-color: $nav-bar-hover;
        }
    }

    &__hamburger-wrapper {
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        min-height: $nav-bar-height;
        min-width: $nav-bar-height;

        &:hover {
            background-color: $nav-bar-hover;
        }
    }

    &__logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__link {
        display: block;
        padding: 0 12px;
        color: white;
        text-decoration: none;
    }
}

.avatar-wrapper {
    min-height: $nav-bar-height;
    padding: 0 12px;
    color: white;
    text-decoration: none;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    &:hover {
        background-color: $nav-bar-hover;
    }
}

.navbar__link__title {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .navbar {
        flex-direction: column;
        &__links {
            flex-direction: column;
        }
        &__hamburger-wrapper {
            display: flex;
        }
    }
}
