<header id="header-main">
    <div class="navbar__wrapper">
        <div class="navbar">
            <div class="navbar__logo-wrapper">
                <a href="/" draggable="false">
                    <img alt="Brrrello" src="/assets/logo.webp" class="navbar__logo"
                         draggable="false"/>
                </a>
                <div class="navbar__hamburger-wrapper" id="hamburgerBtnId">
                    <div class="material-icon-hamburger"></div>
                </div>
            </div>
            {{# if navbar.linksVisible }}
                <div class="navbar__links">
                    {{#if isAuthorized}}
                        <div class="navbar__link-wrapper"><a href="/boards" class="navbar__link">Доски</a></div>
                        <a href="/profile" class="avatar-wrapper">
                            <img id="navbarAvatarId" class="avatar-navbar-edition"
                                 src="{{avatar}}"
                                 alt="{{userName}}">
                            <span id="navbarUserNameId">{{userName}}</span>
                        </a>

                        <div class="navbar__link-wrapper"><a id="logout" class="navbar__link">Выход</a></div>
                    {{else}}
                        <div class="navbar__link-wrapper"><a href="/login" class="navbar__link">Войти</a></div>
                        <div class="navbar__link-wrapper"><a href="/register"
                                                             class="navbar__link">Зарегистрироваться</a>
                        </div>
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </div>
</header>
