/* navbar style */

.navbar__wrapper {
    background-color: #258085;
    border-bottom: 1px solid #C3C3C3;
    user-select: none;
}

.navbar {
    height: 56px;
    max-width: 1680px;
    position: relative;
    background-color: #258085;

    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
.navbar__header {
    display: inline-block;
}
  
.navbar__logo {
    height: 56px;
    width: 136px; 
    display: inline-block;
    padding: 2px;
}
  
.navbar__link__title {
    color: #ffffff;
    text-decoration: none;
}
  
.navbar__links {
    display: inline;
    float: right;
    font-size: 18px;
}
  
.navbar__link {
    display: inline-block;
    padding: 16px 10px;
    color: #e5e9f5;
    text-decoration: none;
}
  
.navbar__link:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
