@import '../../styles/scss/Constants';
@import '../../styles/scss/Common';

.comments-wrapper {
    display: flex;
    flex-direction: column;
}

.comment {
    display: flex;
    flex-direction: row;

    &__avatar {
        @extend .avatar;
        width: 25px;
        height: 25px;
    }

    &__content {
        margin-left: 10px;
        flex-grow: 1;
    }

    &__text {
        font-size: 16px;
    }

    &__btns {
        display: flex;
        flex-direction: row;
    }
}

.check-list {
    display: flex;
    flex-direction: column;

    &__header-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    &__title {
        flex-grow: 1;
        font-size: 16px;
    }

    &__items-wrapper {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }
}

input.check-list__input {
    font-size: 16px;
}

input.checklist-item__input {
    font-size: 16px;
}

.check-list-separator {
    font-size: 24px;
    padding-bottom: 5px;
    border-bottom: solid 2px $tertiary-bg-color;
}

.checklist-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    &__label {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        align-items: center;
    }
}
