@import '../../styles/scss/Constants';
@import '../../styles/scss/Fonts';
@import '../../styles/scss/Common';

/* Таблица стилей для компонента footer */

.footer {
    //height: 50px;
    background-color: $main-theme-secondary-color;
    //position: absolute;
    //width: 100%;
    ////bottom: 0;
    ////left: 0;
    ////right: 0;
    //margin-bottom: 0;

    //position: absolute;
    //left: 0;
    //bottom: 0;
    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__text {
        color: rgb(255, 255, 255);
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
}
