@import '../../styles/scss/Constants';
@import '../../styles/scss/Fonts';
@import '../../styles/scss/Common';

/* Таблица стилей для компонента footer */
.footer {
    background-color: $main-theme-secondary-color;
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__text {
        color: rgb(255, 255, 255);
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
}
