@import '../../styles/scss/Constants';
@import '../../styles/scss/Fonts';
@import '../../styles/scss/Common';

/* Таблица стилей для компонента footer */

.footer {
    position: fixed;
    height: 50px;
    background-color: $main-theme-secondary-color;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;


    &__text {
        color: rgb(255, 255, 255);
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
}
