@import '../../styles/scss/Fonts';

.search-result {
    display: flex;
    flex-direction: row;
}

.check {
    @extend .material-icons;
    opacity: 0.8;

    &::before {
        content: 'check';
    }

    &:hover {
        opacity: 1.0;
        cursor: pointer;
    }
}
