<link rel="stylesheet" href="./css/navbar.css">

<div class="navbar">
    <div class="navbar-header">
        <div class="navbar-title">
            <a href="/main" class="navbar-link-title">TestRello</a>
        </div>
    </div>

    <div class="navbar-links">
        <a href="/boards" class="navbar-link">Доски</a>
        {{#if isAuthorized}}
            <a href="/profile/{{userid}}" class="navbar-link">Профиль</a>
            <a href="/logout" class="navbar-link">Выход</a>
        {{else}}
            <a href="/login" class="navbar-link">Войти</a>
            <a href="/register" class="navbar-link">Зарегистрироваться</a>
        {{/if}}             
    </div>
</div>
