.overlay {
    z-index: 5;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    padding: 10% 0;
}

.popup {
    z-index: 10;
    position: absolute;
    background: rgb(255, 255, 255);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    margin: 8px 0;
    padding: 1em 2em;

    border-radius: 16px;

    color: var(--error-color);

    transition: all 0.3s ease-in-out;
}

/* внешняя обертка под поля ввода */
.login__input__wrapper {
    position: relative;
    margin: 2.4em 0 1.5em 1.5em;
}

/* заголовок поля ввода  */
.login__input__caption {
    position: absolute;

    left: 4%;
    top: 10px;

    color: var(--input-color);

    font-size: 15px;
    font-weight: 300;

    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

/* само поле ввода  */
.login__input__input {
    display: block;
    outline: none;
    border: none;

    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgb(209, 209, 209);

    width: 100%;

    color: var(--input__input-color);

    font-size: 15px;
}

/* в случае активации поля ввода заголовок съезжает наверх */
.login__input__input:focus ~ .login__input__caption,
.popup__textarea:focus ~ .login__input__caption,
.login__input__input:not(:placeholder-shown) ~ .login__input__caption {
    top: -20px;
    font-size: 13px;
    color: rgb(174, 82, 82);
}

/* в случае валидного ввода перекрашиваем заголовок */
.login__input__input:valid ~ .login__input__caption,
.login__input__input:valid:not(:placeholder-shown) ~ .login__input__caption {
    color: rgb(79, 194, 79);
}

/* полоса, подчеркивающая поле ввода  */
.login__input__bar {
    position: relative;
    display: block;
}

/* удлинняем полосу при активном поле ввода */
.login__input__input:focus ~ .login__input__bar:before,
.login__input__input:focus ~ .login__input__bar:after,
.popup__textarea:focus ~ .login__input__bar:before,
.popup__textarea:focus ~ .login__input__bar:after {
    width: 100%;
}

/* удлинняем полосу под полем ввода */
.login__input__bar:after {
    position: absolute;
    content: "";

    height: 2px;
    bottom: -1px;
    left: 0;
    width: 0;
    right: -50%;

    background: var(--main-theme-color);

    transition: all 0.3s ease-in-out;
}

/* кнопка входа */
.login__button {
    padding: 16px 24px;

    color: rgb(255, 255, 255);
    background-color: var(--main-theme-color);

    border: none;
    outline: none;
    border-radius: 5px;

    letter-spacing: 1px;
    font-size: 16px;

    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

/* в случае активизации кнопки входа */
.login__button:focus,
.login__button:hover {
    background-color: var(--main-theme-color__focus);
}


.popup__textarea {
    display: block;
    outline: none;
    border: none;

    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgb(209, 209, 209);

    color: var(--input__input-color);

    font-size: 15px;
    width: 550px;
    height: auto;
    max-height: 500px;
    resize: none;

    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}
