$primary-bg-color: rgb(207, 241, 249);
$secondary-bg-color: rgb(231, 246, 254);
$tertiary-bg-color: rgb(170, 201, 208);

$main-theme-color: rgb(37, 128, 133);
$main-theme-color__focus: rgb(77, 156, 245);
$main-theme-secondary-color: rgb(0, 95, 115);

$transparent-bg-color: rgba(255, 255, 255, 0.3);
$default-box-shadow-color: rgba(0, 0, 0, 0.2);
$dark-box-shadow: rgba(0, 0, 0, 0.4);

$error-color: rgb(216, 0, 12);
$error-bg-color: rgb(255, 210, 210);
$delete-color: rgb(136, 4, 12);

$light-white-color: rgb(241, 241, 241);
$input-color: rgb(210, 210, 210);

$input__input-color: rgb(144, 144, 144);

$footer-size: 50px;
$max-height-politic: min-content;

$popup-wrapper-color: rgba(0, 0, 0, 0.4);
$common-radius: 10px;
