@import 'Font-awesome.min';

@font-face {
    font-family: 'Montserrat';
    src: url('../../../public/fonts/Montserrat-Regular.ttf') format('truetype');
}

.material-icons_colored {
    position: relative;
    top: 5px;

    font-size: 10px;
    transition: all 0.3s ease-in-out;
}

.material-icons_transparent {
    opacity: 0.2;
}

.material-icons_transparent:hover {
    opacity: 1;
}

.material-icons_colored:hover {
    color: var(--dark-blue);
    cursor: pointer;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../../../public/fonts/materialicons-webfont.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
